*:focus {
	outline: none;
}

body {
	text-align: center;
}

form {
	height: 240px;
	width: 400px;
	margin: -200px 0 0 -240px;
	padding: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 0;
	background-color: #eee;
	border-radius: 3px;
}

form:before {
	content: '';
	position: absolute;
	z-index: -1;
	border: 1px dashed #ccc;
	top:5px;
	bottom: 5px;
	left: 5px;
	right: 5px;
};
